
*{
    box-sizing: border-box;
}

body {
    background-color: dodgerblue;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 0 10px 20px #2383(0,0,0,0,1);
    padding: 50px 50px; 
    max-width: 100%;
    width: 800px;
}

h3 {
    margin: 0px;
    opacity:0.5;
    letter-spacing: 2px;
}
.dog {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: mediumpurple;
    border: 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 5px 15px #191970(0,0,0,0,1);
    padding: 1px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}


.btn:focus{ 
    outline: 0;
}

ul{
  max-width: auto;
  height:auto;
}

img {
  max-width: auto;
  height: 50%;
}